@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Noto+Serif+Khojki:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    /* .nav-menu{
        animation: fadeIn 0.3s ease-out;
    }

    @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      } */
}